* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: Arial , Helvetica , sans-serif;


  }
  .proheader{
    background-color: #ffffff;
    text-align: center;
    font-size: 20px;
  }

  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 600px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  .images {
    padding: 10px;
    text-align: center;
  }
  
  @media (max-width: 800px) {
    .column {
      width: 100%;
    }
  }